/* .hdg-bg {
    background-image: linear-gradient(#fefefe, #f6f6f6);
    padding-left: 15px;
    line-height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
    
}
.hdg-bg-color{
  width: 18%;
  background: #fde9a2;
  padding-left: 10px;
  color: #d9492f;
  cursor: pointer;
}
.hdg-bg-search{
  border: solid 1px black;
  margin-top: 15px;
  border-radius: 3px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
}

.summ-info{
    margin-top: 30px;
  }
  
  .summ-info .summary{
    font-size: 15px;
    font-family: calibri;
    font-weight: bold;
    color: #949494;
    margin-bottom: 30px;
  }
  .summ-info .summary .numbers{
    font-size: 18px;
    color: black;
  }

  .clear {
    clear: both;
}
.left-float{
  float:left;
}

.div-chart-info{
  text-align: center;
  margin-bottom: 10;
} */