<!-- <div class="error-message" *ngIf="showError">
    {{ errorString }}
</div> -->

<div class="alert alert-danger center" role="alert" *ngIf="showError">
    {{ errorString }}
  </div>

<section class="border-bottom bg-gray top-Pad-10">
    <div class="container flexi-width">
        <div class="row">
            <!--left side-->
            <div class="col-md-3 col-12">
                <div class="row">
                    <div class="col left-nav">
                        <div class="borderBox">
                        <ul>
                            <li [className]="showKeywordFinder ? 'sideNavi-ico-1 active' : 'sideNavi-ico-1'" (click)="showHidePanels(1)"><a href="#">Keywords Finder</a></li>
                            <li [className]="showCompAnalysis ? 'sideNavi-ico-2 active' : 'sideNavi-ico-2'" (click)="showHidePanels(2)"><a href="#">Competitor Analysis</a></li>
                            <li [className]="showSearchVolume ? 'sideNavi-ico-3 active' : 'sideNavi-ico-3'" (click)="showHidePanels(3)"><a href="#">Search Volume</a></li>
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="row hide3">
                    <div class="col">
                        <div class="borderBox bg-white top-Pad-15 sidePad">
                           <h1>What is the Role of Searches and
                            Keywords in Your Life?</h1>
                            
                            <p>
                                Everything on the web – whether it is finding a video on YouTube or locating a news article – begins with a search. And all these searches are carried out with the help of KEYWORDS.
                            </p>
                            <p class="italic">
                                “According to statistics, Google receives more than 63,000 searches per second daily. It means there are at least 3.8 million searches per minute, and 2 trillion searches per year, and 5.6 billion searches per day!”
                            </p>
                            <p>These striking figures precisely describe the role of searches and keywords in your online life. This description defines how significantly important a Keyword Tool is.<br><br>
                                Every Google search expresses a person’s needs, wants, interests and desires. Imagine if you can get a hold of your target market’s searches, you can customize your business domain and content according to their expressions and end up serving the ‘actual needs’ of your potential customers. But how can you find the search terms of your customers? The answer is Keyword Tool!<br><br>
A Keyword tool helps you analyze people’s searches, so you can use the favorable elements to flourish your own website. The analysis can help you identify the most relevant search terms for your domain. These search terms can help you create optimal content so you can reach your target audience, get them to visit your website, read your content, and eventually BUY your products and services.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row hide3">
                    <div class="col">
                        <div class="borderBox mar-btm-0 bg-white top-Pad-15 sidePad">
                           <h1 class="pad-btm-12">Why Keyword Planners</h1> 
                        </div>
                    </div>
                </div>
                <div class="row hide3">
                    <div class="col">
                        <div class="borderBox mar-tp-0 bg-black playIcon">
                            <div class="playIconDv">
                           <a href="#" (click)="openModal()"><img src="../../../assets/play-icon.png" alt="Play" data-toggle="modal" data-target="#video"></a>
                           </div>
                           
                           
                           
                        </div>
                    </div>
                </div>


                <div class="row hide3">
                    <div class="col">
                        <div class="borderBox mar-btm-0 bg-white top-Pad-15 sidePad">
                           <h1 class="pad-btm-12">How To Use Keyword Planners</h1> 
                        </div>
                    </div>
                </div>

                <div class="row hide3">
                    <div class="col">
                        <div class="borderBox mar-tp-0 bg-black playIcon">
                            <div class="playIconDv">
                           <a href="#" (click)="openHowToModal()"><img src="../../../assets/play-icon.png" alt="Play" data-toggle="modal" data-target="#video2"></a>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="row hide3">
                    <div class="col">
                        <div class="borderBox bg-white top-Pad-15 sidePad">
                           <h1>Keyword Planners is the Best
                            Keyword Tool on the Market – The
                            Comparison Speaks for Itself</h1>
                            <h5>Keyword Planners vs. UberSuggest</h5>
                            <p class="center"><img src="../../../assets/versus-1.jpg" alt=""></p>
                            <p>
                                <a href="https://neilpatel.com/ubersuggest/" target="_blank" class="ext-link">UberSuggest</a> might have earned a name as the best SEO tool to win more traffic, but it still stands at a disadvantage compared with Keyword Planners. While the former helps you use SEO in the best possible way, the latter helps with SEO and assists you with many other powerful marketing functions such as PPC and content creation. Indeed, Keyword Planners is more effective than <a href="https://neilpatel.com/ubersuggest/" target="_blank" class="ext-link">UberSuggest</a> as it brings you a variety of exceptional services.
                            </p>
                            <h5>Keyword Planners vs. Google Keyword Planners</h5>
                            <p class="center"><img src="../../../assets/versus-2.jpg" alt=""></p>
                            <p>
                                Like Keyword Planners, <a href="https://ads.google.com/home/tools/keyword-planner/" target="_blank" class="ext-link">Google Keyword Planners</a> also helps you locate relevant keywords that people type in the <a href="https://trends.google.com/trends/" target="_blank" class="ext-link">search Google trends</a> box. However, <a href="https://ads.google.com/home/tools/keyword-planner/" target="_blank" class="ext-link">Google Keyword Planners</a>’s services are subject to many limitations:
                            </p>
                            
                            <ul>
                                <li>The tool is designed for paid advertising. Therefore, the data that Google Keyword Planners tool generates is relevant for paid advertising within the Google Ads platform.</li>
                                    <li>You can only use the tool if you have a <a href="https://support.google.com/google-ads/" target="_blank" class="ext-link">Google AdWords keyword planner tool</a> account because it is created for advertisers and not meant for content creation or SEO.</li>
                                        <li>The tool generates ‘generic’ keywords that are not very descriptive. For that reason, the keywords that <a href="https://ads.google.com/home/tools/keyword-planner/" target="_blank" class="ext-link">Google Keyword Planners</a> brings you are not very useful for SEO, blogging, and other content marketing activities.</li>
                                            <li>It contains valuable data about keywords such as competition, suggested bids, average monthly searches, etc. Still, it hides profitable long-tail keywords with thousands of monthly searches that can be used to create content for your website.</li>

                            </ul>

                            <p>Considering all these limitations, we can indeed say that Keyword Planner is the best alternative to Google Keyword Planner for content marketing and SEO.</p>
                        </div>
                    </div>
                </div>


            </div>
            <!--left side end-->
            <!--right side-->
            <div class="col-md-9 col-12">

                <!-- Search Container -->
                <div class="row">


                    <div class="col mtb10" [hidden]="!showKeywordFinder">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a [ngClass]="getTabClasses(1)" (click)="setTab(1)" id="google-tb-tab" data-toggle="tab" role="tab" aria-selected="true">
                                    <img src="../../../assets/search-icon-1.png">&nbsp;&nbsp;Google
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a [ngClass]="getTabClasses(3)" id="youtube-tb-tab" (click)="setTab(3)" data-toggle="tab" role="tab" aria-selected="false"><img src="../../../assets/search-icon-3.png">&nbsp;&nbsp;YouTube</a>
                            </li>  
                            <li class="nav-item" role="presentation">
                                <a [ngClass]="getTabClasses(2)" id="googlet-tb-tab" data-toggle="tab" (click)="setTab(2)" role="tab" aria-controls="googlet-tb" aria-selected="false">
                                    <img src="../../../assets/search-icon-2.png">&nbsp;&nbsp;Google Trends
                                </a>
                            </li> 
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="google-tb" role="tabpanel" aria-labelledby="google-tb-tab" [hidden]="!isSet(1)">
                                <app-keywordsearch (showErrorParent)="showErrorMessage($event)">
                                </app-keywordsearch>
                            </div>
                            <div class="tab-pane fade show active" id="youtube-tb" role="tabpanel" aria-labelledby="youtube-tb-tab" [hidden]="!isSet(3)">
                                <app-ytube (showErrorParent)="showErrorMessage($event)"></app-ytube>
                            </div>
                            <div class="tab-pane fade show active" id="googlet-tb" role="tabpanel" aria-labelledby="googlet-tb-tab" [hidden]="!isSet(2)">
                                <app-googletrends (showErrorParent)="showErrorMessage($event)" *ngIf="tab === 2"></app-googletrends>
                            </div>
                        </div>
                    </div>
                    <div class="col mtb10" [hidden]="!showCompAnalysis">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="true">
                                    <img src="../../../assets/search-icon-1.png">&nbsp;&nbsp;Google
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="google-tb" role="tabpanel" aria-labelledby="google-tb-tab">
                                <app-compkeywordsearch (showErrorParent)="showErrorMessage($event)">
                                </app-compkeywordsearch>
                            </div>
                        </div>
                    </div>
                    <div class="col mtb10" [hidden]="!showSearchVolume">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="true">
                                    <img src="../../../assets/search-icon-1.png">&nbsp;&nbsp;Keywords
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="google-tb" role="tabpanel" aria-labelledby="google-tb-tab">
                                <app-searchvolumekeywordsearch (showErrorParent)="showErrorMessage($event)">
                                </app-searchvolumekeywordsearch>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Search Container End-->
                <!-- Google Content Starting -->
                <div class="row mtb10" [hidden]="!isSet(1)">
                    <div class="col no-side-padding">
                       
                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Keyword Planners – Making the Perfect Keyword Research Simple and Free</h1>

                        <p>If you wish to see your online business thrive, Keyword Planners tool may be your best bet. Out of all the Keyword Tool alternatives available on the internet, <a href="blog#kp1" class="inc-link">Keyword Planners</a> makes the best choice for two main reasons: it’s SIMPLE and FREE!<br>
                            You don’t need a guidebook or prior experience with <a href="blog#kp2" class="inc-link">keyword density checker</a> to use Keyword Planners, as its usage process is extremely simple. Moreover, Keyword Planners brings you all the following services free of any hidden costs:</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col smrg-80 no-a-mgr">

                                <div class="row">
                                    <div class="col-lg-6 col-auto type-cata">
                                        <img src="../../../assets/type-ico-1.png" alt="">
                                        SEO (Search Engine Optimization)
                                    </div>
                                    <div class="col-lg-6 col-auto type-cata">
                                        <img src="../../../assets/type-ico-2.png" alt="">
                                        PPC advertising (pay-per-click)
                                    </div>
                                    <div class="col-lg-6 col-auto type-cata">
                                        <img src="../../../assets/type-ico-3.png" alt="">
                                        Content creation and marketing
                                    </div>
                                    <div class="col-lg-6 col-auto type-cata">
                                        <img src="../../../assets/type-ico-4.png" alt="">
                                        Other Marketing Activities
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <p>
                            Get started with the fast and efficient Keyword Planners tool today to bring potential visitors to your website and gauge reactions. Save time and money with this <a href="https://smallseotools.com/keyword-position/" target="_blank" class="ext-link">Keyword Rank Checker</a> and ensure that your website never runs low on views or engagements.
                        </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Why Choose Keyword Planners?</h1>

                        <p>
                            With Keyword Planners tool by your side, you can find out what your target audiences are searching for on Google and direct the right traffic to your website. Simply put, Keyword Planners helps you optimize your website content according to the subjects your target audience wants to read.
                        </p>

                        <h2>Keyword Planners Can Offer More Than You Can Imagine</h2>

                        <p>
                            Unlike other competitor keyword websites available on the internet, Keyword Planners is far more reliable and effective. With the benefits and services that this Keyword Rank Checker offers, you will always find yourself one step ahead of your competitor.<br><br>
                            Keyword Planners brings you the following benefits:
                            
                            </p>

                            <ul>
                                
                                <li>It works 99.99% of the time</li>
                                    <li>It's entirely free; you don't have to pay for any ads or come across hidden costs</li>
                                        <li>It does not require creating an account</li>
                                            <li>It operates under the domain and language you pick, allowing you to look for keywords in languages other than English</li>
                                                <li>It generates keyword suggestions by browsing 192 Google domains, using 83 Google language interfaces</li>

                                
                            </ul>

                            <p>Keyword Planners brings you the following services:</p>

                            <ul>
                                <li>Extracts thousands of valuable keywords from Google Suggest within seconds</li>
                                    <li>Finds keywords hidden in <a href="https://ads.google.com/home/tools/keyword-planner/" target="_blank" class="ext-link">Google Keyword Planners</a></li>
                                        <li>Sources variety of keywords directly from Google Autocomplete</li>
                                            <li>Generates up to 750+ keyword suggestions for every search term</li>
                                                <li>Brings you closer to tons of new long-tail keywords through search suggestions by Google</li>
                                                    <li>Allows you to locate the position of your website or URL in the search engine</li>
                                                        <li>Retrieves the most relevant keywords that help you rank #1 in the search engine giant's search query</li>
                                                            <li>Ensures that you receive keywords that are most relevant to your website's target audience's country and language</li>
                                
                            </ul>

                            <h2>Keyword Planners Brings YOU Services That No Other Tool Offers For FREE</h2>
                            <p>
                                Keyword Planners is one of the few tools on the web that brings you relevant keywords in the best manner for free. It is an excellent source of information to find keywords that people type in the Google search box.<br><br>
                                Unlike other keyword tools on the market, Keyword Planners employs Google Autocomplete to source and generate keywords for you. Google Autocomplete is a tool created by Google to make people’s search experience easier and faster. The Autocomplete suggestions are what Google shows when you start typing into the Google search box. These suggested keywords help the search engine giant retrieve the most relevant websites to brings users the most relevant content for their search query. Google says:    
                            </p>

                            <p class="center" style="font-style: italic;">
                                “Autocomplete predictions are automatically generated by an algorithm without any human involvement based on several objective factors, including how often past users have searched for a term.”
                            </p>

                            <p>
                                Therefore, it is safe to say that Google shows the most relevant keywords in the autocomplete suggestions. Keyword Planners tool brings you these keywords for free, so you can create the most appropriate content for your website accordingly, to rank at the top of your target audience’s search query.
                            </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Keyword Planners Google Suggest</h1>

                        <p>
                            Google Suggest is a core feature of Google search that shows different search terms when you start typing a keyword into the search box. This feature is a good alternative to Google Keyword Tool Planner for long tail keyword research.
                        </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Keyword Planners long tail keyword</h1>

                        <p>
                            Keyword Planners is created to find keywords for ads and does not display popular long tail keyword suggestions. In fact, it hides many valuable keywords that can be easily found when using some of the free Keyword Planners 
                        </p>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Keyword Planners’ Package Includes It ALL</h1>
                            <h2>Google Autocomplete</h2>
                        <p>
                            Google Autocomplete is a valuable feature used in <a href="https://trends.google.com/trends/" target="_blank" class="ext-link">Google search trends</a> that helps speed up the online search process. It presents users with suggestions when they start typing a search query. These search terms are formulated based on several factors, such as how often users search for a particular search term and more. Keyword Planners, the free online keyword density checker, uses Google Autocomplete to find the best keywords for any subject that can hook your target audience. 
                        </p>
                        <h2>Google Suggest</h2>
                        <p>
                            To ensure efficient keyword research, Keyword Planners employs Google Suggest. This feature helps the keyword tool extract keyword suggestions quickly and present them to you simply.<br><br>
                            Google Suggest is so efficient for keyword research because it brings you relevant suggestions it presents people with when they are browsing for something online. The process works so that 3 – 5 suggestions appear under the search box when an online user starts to enter a search term. Depending on their need and preference, users can click on any keyword shown in the Google Autofill list and get to see their search results page at once. The best part is that the Google Suggest tool's algorithm is fully automated, making it a reliable source for keywords.<br><br>
                            This attribute makes Google Suggest the perfect tool to kick off any SEO content creation strategy. Therefore, Keyword Planners uses this excellent tool for keyword research to find the most relevant keywords in the least bit of time. Google Suggest feature does not only allow you to find the right keywords but also offers a variety of valuable features that can be great for your business.<br><br>
                            While many Keyword Rank Checker use Google Suggest for keyword research, Keyword Planners is one of a kind. Keyword Planners tool brings you the 'export and copy clipboard' option so that you don't have to struggle with manually copying keywords from the Google Suggest box. Forget spending a lot of time and effort to copy keywords; with Keyword Planners, you can export the results or copy them to the clipboard for later use with just a click. Hundreds of suggested keywords will be presented to you for instant use in a flash.
                        </p>
                        <h2>Long Tail Keyword Suggestions</h2>
                        <p>
                            Keyword Planners also generates effective long-tail keyword suggestions by adding different letters and numbers to the search term specified by you and placing them into the Google search box. This process enables the Keyword Planners to extract relevant keyword suggestions within seconds.
                        </p>
                        <h2>Supported Domains and Languages</h2>
                        <p>
                            This free online tool helps you target your optimal audience best by picking their specific Google domain out of 192 supported domains and their recognized language out of 83 languages to bring you the most suitable and relevant keyword suggestions. Keyword Planners helps you enjoy the benefit of 750+ keyword suggestions that can boost your website’s rank.
                        </p>
                            </div>
                        </div>







                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Here’s How You Can Use Keyword Planners to Improve Your Website’s Prospects</h1>
                            
                        <h2>
                            5-Step Process to Improve your Website’s Ranking 
                        </h2>
                        
                        <p>
                            1.	On the <a href="http://www.keywordplanners.io/" target="_blank" class="ext-link">keywordplanners.io</a> website, go to the ‘Keywords Finder’ section.<br>
2.	Choose the relevant platform tab from the available options (Google, Google Trends, and YouTube).<br>
3.	Type a word to generate keywords for in the ‘Search Keyword’ bar.<br>
4.	Click on the ‘Search’ button or press ‘Enter’ on your keyboard.<br>
5.	And that is ALL!
</p>
                        <p>
                            Keyword Planners prepends and appends the search term (which you specify in the ‘Search Keyword’ box with different letters and numbers), places it into the Google search box, and pulls out long-tail keyword suggestions. All of this happens in a split second, so you’re delivered beneficial results in no time!<br><br>
                            Keyword Planners will extract thousands of useful and relevant long-tail keyword suggestions and present them to you in an easy-to-understand interface in a flash! Alongside displaying keyword suggestions, the Keyword Planners’ website also tells you the Search Volume, Trend, CPC, and Competition of each keyword.<br><br>
                            With this free <a href="blog#herehow" class="inc-link">Keyword Planners tool</a>, you can quickly find and analyze thousands of relevant keywords to use them for content creation, search engine optimization, pay-per-click advertising, or other marketing activities.
                        </p>

                        <h2>Keyword Planners is perfect for SEO and Content Creation</h2>
                        
                        <p>
                            Your website can attract the right traffic from Google or other search engines if it flaunts content created around the right keywords. In simple words, you should be utilizing words in your content that your potential target audience is already using when searching for products or services online. You will give great value to your website visitors by creating content around these popular keyword suggestions.
Your best bet to discover these keywords is Keyword Planners. It introduces you to relevant <a href="https://trends.google.com/trends/" target="_blank" class="ext-link">search Google trends</a> suggestions' keywords, which you can use as a base to create content for your website. Once you do that, whenever your target audience finds information online, they will be directed to your website. In return, Google will reward your website with higher rankings, which will entail a traffic increase.

                        </p>
                        <h2>Keyword Planners also Flaunts International SEO Keywords</h2>
                        <p>
                            Keyword Planners is very useful when it comes to locating keywords in languages other than English. This tool browses 192 Google domains and uses 83 language interfaces to generate keyword suggestions, ensuring that you are only provided with keywords relevant to the country and language that you are creating content for. You can analyze the keyword recommendations using search volume, cost-per-click, trend, and competition data to pick exact keywords for your website's international SEO.
                        </p>
                        <h2>Keyword Planners can be Your Favorite Advertising Companion</h2>
                        <p>
                            Pay-per-click (PPC) advertising campaigns can become more favorable when paired with Keyword Planners. This  keyword density checker realizes the importance of selecting the right keywords to target your ads' potential audience; therefore, it leaves no stone unturned to bringing you the most valuable suggestions.<br><br>
                            Keyword Planners' keyword suggestions can show your ads to the relevant audience, which can result in a higher click-through rate (CTR), lower cost-per-click (CPC), and higher conversion rates for your business. With Keyword Planners, you will be able to generate a better return on investment by spending comparatively less money on advertising.
                            
                        </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Google Content Ending -->
                <!-- Google Trends Content Starting -->
                <div class="row mtb10" [hidden]="!isSet(2)">
                    <div class="col no-side-padding">
                       
                        <div class="row">
                        <div class="col right-content">
                        <h1 class="center">Keyword Planners vs. Google Trends – A comparison of the best keyword tool</h1>

                        <h1 class="center">Introduction of Google Trends</h1>

                        <p>
                            Google Trends is a useful <a href="blog#krt3" class="inc-link">keyword research tool</a> that helps businesses learn what people search for on Google and how their searches change over time. It helps professionals worldwide understand their audience better to make the right decision for their business.<br><br>
Using Google Trends, you can analyze the trending searches on Google to use these search terms to benefit your website. The platform houses information on what keyword searches are currently popular and which keyword searches have been popular in the past. It allows you to analyze these search terms so you can finalize relevant keyword suggestions based on their profitability to boost your website's rank.<br><br>
Most businesses recognize Google Trends as an excellent keyword research tool for checking and comparing their website's health in several areas, making business decisions, and creating improved content only; they don't realize that this keyword research tool also offers many other features.
</p>   
                        <h2>Keyword Research and Usage features of Google Trends</h2> 
                        <ul>
                            <li>Trending Searches: With the help of Google Trends, you can see the relative interest and searches trending for any given keyword.</li> 
                                <li>Changing Trends: Searches continue to change with time; a keyword being searched aggressively at one point in time may not be explored with the same intensity after a while. Google Trends helps you identify these changes based on specific trends and particular search terms.</li> 
                                    <li>Local and Regional Interest for Search Terms: Google Trends allows you to see the local and regional interest search terms.</li>
                                        <li>You can find out which search terms are more popular or least popular in a particular region through this platform.</li>
                                            <li>Relative Popularity of Different Keywords Comparison: Another great feature of Google Trends is that it enables you to compare various keywords' relative popularity.</li>

                        </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                            <h1 class="center">What makes Keyword Planners better than Google Trends?</h1>

                            <p>
                                While Google Trends is a valuable <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiJobmX0aXvAhWM-VEKHeEIBAAYABAAGgJ3cw&ae=2&ohost=www.google.com&cid=CAESQeD2O4DjBbGkAybRCDjs3ijLbC91b8gh9vYT2hbQA6wurqbh9Q254Ab_NNfIkDNQxVeoUNrCP7bW34jVuRZUEdkZ&sig=AOD64_1YyzizZE14YLpKaae8ruO8IFhr2Q&q&adurl&ved=2ahUKEwjE2rGX0aXvAhXQZxUIHbdYAo4Q0Qx6BAgHEAE" target="_blank" class="ext-link">Google keyword tool</a> for online businesses, Keyword Planners makes a better choice. This is mainly because, along with its many benefits, Google Trends comes with a fair share of downsides.
</p>  
<h2>Limitations of Google Trends </h2> 

<ul>
    <li>Google Trends does not offer the precise search volume numbers for keywords. The search volume data available on the platform is an 'estimate' of keywords' relative popularity, meaning you cannot measure the actual keyword popularity with this <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiJobmX0aXvAhWM-VEKHeEIBAAYABAAGgJ3cw&ae=2&ohost=www.google.com&cid=CAESQeD2O4DjBbGkAybRCDjs3ijLbC91b8gh9vYT2hbQA6wurqbh9Q254Ab_NNfIkDNQxVeoUNrCP7bW34jVuRZUEdkZ&sig=AOD64_1YyzizZE14YLpKaae8ruO8IFhr2Q&q&adurl&ved=2ahUKEwjE2rGX0aXvAhXQZxUIHbdYAo4Q0Qx6BAgHEAE" target="_blank" class="ext-link">Google keyword tool</a>.</li> 
        <li>Google Trends does not allow you to see high volume keywords related to your keyword research's main subject. It recommends apparent and few keywords (related to the main term), which are not helpful when carrying out broad keyword research.</li> 
    
    </ul>
    <p>
        This is where the Keyword Planners steps in – a keyword research tool that fully understands your keyword needs and preferences. As compared to Google Trends, Keyword Planners brings you additional tools that can help you master keyword marketing and boost your website's overall ranking.
    </p>
    <h2>Reasons why Keyword Planners stands ahead of its Competition</h2>
    <p>
        <span class="ft-b">Large Quantity:</span> Unlike Google Trends, Keyword Planners helps you find hundreds or even thousands of relevant keyword suggestions searched for on Google.<br><br>
        <span class="ft-b">Fast Service:</span> The <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiJobmX0aXvAhWM-VEKHeEIBAAYABAAGgJ3cw&ae=2&ohost=www.google.com&cid=CAESQeD2O4DjBbGkAybRCDjs3ijLbC91b8gh9vYT2hbQA6wurqbh9Q254Ab_NNfIkDNQxVeoUNrCP7bW34jVuRZUEdkZ&sig=AOD64_1YyzizZE14YLpKaae8ruO8IFhr2Q&q&adurl&ved=2ahUKEwjE2rGX0aXvAhXQZxUIHbdYAo4Q0Qx6BAgHEAE" target="_blank" class="ext-link">Google keyword tool</a> mixes the main search term with different letters and numbers to generate tons of relevant keyword suggestions in no time.<br><br>
        <span class="ft-b">Google Autocomplete:</span> The Google Autocomplete feature allows Keyword Planners to provide you with the best and most relevant keyword research suggestions.<br><br>
        <span class="ft-b">Accurate Search Volume Data:</span> Keyword Planners brings you precise search volume data that can be ideal for determining the right keywords for your search.<br><br>
        <span class="ft-b">Compliant with Changes:</span> The <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiJobmX0aXvAhWM-VEKHeEIBAAYABAAGgJ3cw&ae=2&ohost=www.google.com&cid=CAESQeD2O4DjBbGkAybRCDjs3ijLbC91b8gh9vYT2hbQA6wurqbh9Q254Ab_NNfIkDNQxVeoUNrCP7bW34jVuRZUEdkZ&sig=AOD64_1YyzizZE14YLpKaae8ruO8IFhr2Q&q&adurl&ved=2ahUKEwjE2rGX0aXvAhXQZxUIHbdYAo4Q0Qx6BAgHEAE" target="_blank" class="ext-link">Google keyword tool</a> keeps checking how the search volume of a keyword changes over time to bring you the accurate monthly average search volume.<br><br> 
        <span class="ft-b">Precise Search Volume Numbers:</span> Contrary to Google Trends, Keyword Planners allows you to see the exact keyword search volume numbers for the previous year.<br><br>
        <span class="ft-b">Clearer Insight into Keyword Volume:</span> The platform lets you enjoy a clearer insight into keyword search volumes so you can attain valuable information about the top searched keywords and their popularity.
    </p>
                            
                                </div>
                            </div>



                            <div class="row">
                                <div class="col right-content">
                                <h1 class="center">Keyword Planners is a Must-Have Tool for all Digital Marketing Professionals!</h1>
   
                                <p>
                                    Keyword Planners is your best bet at excelling in the world of digital marketing and SEO. The platform brings you countless valuable features that allow you to make a well-informed decision to soar your online business' rankings to new heights. Indeed, Keyword Planners is a team of professionals who are committed to bringing you the best of quality and quantity. Join this keyword research tool today to explore the all new and improved way of marketing your business online!
                                </p>  

                                
                                    </div>
                                </div>



                    </div>
                </div>
                <!-- Google Trends Content Starting -->
                <!-- Youtube Conent Starting -->
                <div class="row mtb10" [hidden]="!isSet(3)">
                    <div class="col no-side-padding">
                       
                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">The Proper Guide to YouTube Video Marketing</h1>

                        <p>In today's dynamic world, there is no marketing tool more powerful than 'videos'. To connect with the right audience, communicate with potential customers, convey a brand image, convince people to take action, increase market share, and so much more – businesses worldwide are using video marketing via <a href="https://www.youtube.com/" class="ext-link" target="_blank">YouTube tool</a> to reach people.<br><br>
                            People are indeed visual beings; it is easier for humans to process information through videos. Therefore, businesses can turn an audience into leads more conveniently using videos. However, introducing your company, products, or services to people in just 'the right manner' using videos is not easy. So how does one excel in understanding this marketing tool? Start by understanding the platform.
</p>                                
                            </div>
                        </div>

                       
                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">YouTube tool and the Age of Videos</h1>

                        <p>Are you looking for the best way to reach millions of people across the globe in one click? YouTube, it is! The video streaming platform helps all businesses (looking to monetize) create content, and market their brand, products and services to people.</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Why is YouTube tool the most powerful and influential marketing platform?</h1>

                        <p>Let’s utilize some stats to answer this question:</p>
                        <ul>
                                    
                            <li>YouTube is the second largest search engine </li>
                                <li>1.5 billion users log-in to YouTube every month</li>
                                    <li>It has over 22 billion visits monthly</li>
                                        <li>YouTube’s annual revenue is around $15 billion</li>
                                            <li>It has more research than cable TV</li>
                                                <li>It boasts 57,000 years of video footage</li>
                                

                        </ul>
                        <p>Indeed, <a href="https://www.youtube.com/" class="ext-link" target="_blank">YouTube tool</a> surpasses all the video streaming platform substitutes because it houses billions of users. Every minute, 300 hours of video content is uploaded on YouTube, making the platform an ideal choice for video marketing.</p>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">The Challenges in Video Marketing</h1>

                        <p>While there may be several benefits attached to <a href="https://www.youtube.com/" class="ext-link" target="_blank">YouTube tool</a>, the platform only lets you bear the fruit once you have overcome its set of challenges:</p>
                            
                        <ul>
                            <li class="pad-bottom-10">
                                
                                <span class="font-bold">Challenge #1 Creating a Good Video</span><br>
                                YouTube houses thousands of videos; there may be various options underneath one search result for people to choose from. You need to make sure that your target market clicks your video, but that can only happen if the video is worthy enough. Therefore, creating video content that can actually win viewers is not easy. It takes a considerable amount of time and effort to perfect the skill to create videos that can lead to conversions.

                            </li>

                            <li class="pad-bottom-10">
                                
                                <span class="font-bold">Challenge #2 Finding the Target Audiences</span><br>
                                Unlike the common perception, good video creation is not the only problem. Ensuring that people find your video on the video streaming platform is equally important. Keywords and <a href="https://www.youtube.com/" class="ext-link" target="_blank">YouTube keyword tools</a> play an essential role here. Luckily, there are <a href="https://taggenerator.net/" class="ext-link" target="_blank">YouTube tag generator</a> tools in the market that help you overcome this challenge by bringing you the right set of keywords so that you can make the most of your video marketing efforts.
                            </li>
                        </ul>
                    </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">YouTube Trends - Create Trending Videos for Your Channel</h1>
                                <P>
                                    Being a part of the YouTube community means you need to be on your toes all the time. The reason is that the industry trends are changing continuously, and to stay ahead, you need to produce viral videos people are looking for. <a href="https://studio.youtube.com/channel/UCSYahncrcQKkOPgWbIJITFg/analytics/tab-overview/period-default" class="ext-link" target="_blank">YouTube analytics</a> can help you in this regard by allowing you to discover the most popular and trending topics from around the world.<BR><BR>
                                        With YouTube Trends by your side, you will have access to a treasure of information about hot topics and consumer behaviors. This information will enable you to create video content that will garner tons of YouTube views. 
                                    
                                    </P>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">How does a Video Get Ranked on YouTube Trends?</h1>
                                <P>
                                    With businesses all over the world shifting online, the competition to excel has become fiercer than ever. This explains why it is not easy to get your video on the YouTube trending page.<BR><BR>
                                        <a href="https://www.youtube.com/" class="ext-link" target="_blank">YouTube tool</a> analyses each video’s appeal and considers what’s happening across the platform and around the world to decide what videos are trend-worthy. YouTube Trends balance all of these aspects by considering many factors such as:  

                                    </P>
                                    <ul>
                                        <li>The total and current number of views</li>
                                        <li>The growth rate in terms of views</li>
                                            <li>How old a video is</li>
                                                <li>Where are the views coming from (such as media portals, blogs, etc.)</li>

                                    </ul>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">The Algorithm of YouTube Tag Finder Views</h1>
                                <P>
                                    The video streaming platform describes its algorithm as a search and discovery system designed to:
                                    </P>
                                    <ul>
                                        <li>Match queries of the viewer with the content they are searching for</li>
                                        <li>Create a satisfying experience and engagement for viewers </li>

                                    </ul>
                                    <p>Understanding how YouTube’s algorithm works to sort out content can help you comprehend what to do to match your content with the right user queries. Once you master this skill, you can make the most out of video marketing for your business.</p>
                        </div>
                        </div>


                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Master YouTube Marketing in 3 Phases</h1>
                        <h2>1.	Increase Watch Time</h2>
                                <P>
                                    YouTube’s latest algorithm values user engagement more than view counts. Considering this shift, you should know that the video streaming platform ranks videos based on watch time instead of view counts. In simple words, the more time the people spend watching your videos, the higher your content will rank. To improve your chances further, you can also attain ‘watch time credits’ by referring viewers to watch videos on other channels. All in all, focusing on increasing your YouTube views is not enough. The ideal state is to start growing your channel’s watch time.
                                </P>
                                    <h2>2.	Create Engaging Content</h2>
                                    <p>The creative side of a video is as important as its technical side when it comes to successful trending. Think out of the box and create engaging and exciting content to win more views. The video should balance unique content and marketing aspects to stand out and garner attention and love from people.<br><br>
                                        And the best way to create great engaging content for YouTube is planning. Follow these four steps to plan your content and attract major viewership:
</p>                                            
                                    <ul>
                                        <li>Create a content strategy</li>
                                        <li>Determine the area of focus</li>
                                            <li>Make a storyboard </li>
                                                <li>Write a script </li>
                                    </ul>

                                    <h2>3.	Invest in a Catchy Title </h2>
                                    <p>Experts can’t stress enough the fact that the title of a YouTube video is critical. An ideal video title includes relevant keywords in the right volume. You pay attention to these two factors (relevancy of keywords and volume of keywords), and your video will end up on the YouTube trending page.</p>
                        </div>
                        </div>


                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Four Ideal Sources to unleash YouTube Trends</h1>
                       <ul>
                        <li>YouTube Trending – best suited for regional trends</li>
                            <li>Popular on YouTube – ideal for learning about YouTube trends on a global level</li>
                                <li>Google Trends YouTube – fits individuals who trust <a href="https://trends.google.com/trends/explore?gprop=youtube" class="ext-link" target="_blank">Google Trends YouTube</a> to learn about what’s trending on YouTube</li>
                                    <li>Keyword Planners for YouTube – perfect free tool for finding YouTube trends</li> 

                        </ul>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Why shouldn’t you rely on YouTube Keyword Tool for Video Marketing?</h1>
                        <p>Generally, people tend to trust <a href="blog#ykt1" class="inc-link">YouTube Keyword Tool’s</a> services and features for their video marketing needs. However, there are two major reasons why this isn’t the most effective decision:</p>
                        
                        <h2>1.	Requires Google Ads Account</h2>
                        <p>Individuals require a Google Ads account to use YouTube’s Keyword Tool, meaning that it cannot be used independently. This limits the audience access to the <a href="https://www.youtube.com/channel" class="ext-link" target="_blank">YouTube name generator</a> tool and limits the free access to features and services.</p>
                    <h2>2.	Offers Generic Keyword Suggestions </h2> 
                    <p>The main purpose of the YouTube Keyword Tool is to facilitate people in paid video and ad promotion. This explains why keywords found on this platform are seldom directly related to your main topic. The search engine giant mostly provides you with generic keyword suggestions with high search volumes for your advertisements. While these keywords may help Google bag lots of money via promoted videos, they may not prove beneficial in getting more clicks. In this case, what is the ideal tool for YouTube video marketing?</p>   
                    </div>
                        </div>


                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Keyword Planners + YouTube = Top Trending YouTube Videos</h1>
                        <p>When it comes to effective and efficient video SEO, Keywords Planners is your best bet. The tool connects you with hundreds of relevant keywords, provides exciting ideas for videos, and ensures that your video reaches the right audience.<br><br>
                            Look no further than Keyword Planners if you want to improve your video’s search prospects on YouTube.com. This powerful instrument is the best alternative to the YouTube keyword tool for several reasons:
                            </p>
                        
                        <ul>
                        
                            <li><span class="font-bold">Offers Better Insight into Data</span><br>
                                With the help of Keyword Planners, you can get a clear insight into YouTube pages and learn about specific topics and search behaviors of viewers. Once you collect relevant data, you can use the information to your advantage.</li>
<li><span class="font-bold">Provides Specific Information</span><br> 
Keyword Planners makes your search more specific with filters such as time periods and geographic locations. You can streamline your search results and learn about the seasonal fluctuations, too, with Keyword Planners.</li> 
<li><span class="font-bold">Generates Ideas for Building New Content </span><br>
This tool brings you closer to valuable data that can help you put together unique content ideas for your videos. Keyword Planners allows you to browse through current popular topics, high-volume keywords, seasonal fluctuations, viewer tastes, and consumer behavior in a highly effective way. Using these metrics, you can create highly appealing video content for your channel, which is the key to YouTube video marketing.</li>
<li><span class="font-bold">Uses YouTube AutoSuggest </span><br> 
Like Google Autocomplete (also known as Google Suggest), YouTube Autocomplete improves user experience by recommending related keywords to users when they type in their search query. Keyword Planners uses this feature for generating relevant long-tail keywords related to your subject, making keyword research fast, easy and reliable.</li>
<li><span class="font-bold">Makes YouTube SEO Effortless</span><br>  
When it comes to keyword research for video SEO, Keyword Planners proves to be very useful. With this <a href="https://taggenerator.net/" class="ext-link" target="_blank">YouTube tag generator</a> help, you can find the right keywords to use in the title and description of your YouTube video. Finding and using the right keywords will help the YouTube algorithm understand your video and present it to the right audience.</li>
                        </ul>
                    </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Keyword Planners – Your One-Stop for Ruling YouTube</h1>
                        <h2>1.	Create Relevant Video Titles with Keyword Planners</h2>
                        <p>Coming up with the ideal video title can get stressful when you know that this heading can play a massive role in the video’s success. The only tool you can rely on in this case is Keyword Planners. It connects you with thousands of popular, high-volume keywords using YouTube’s autocomplete, helps you get insight into many ways you can write your titles, and brings you unique ideas for your videos’ content.<br><br>
                            Thanks to these features, you will be able to find the right keywords using which you can create a descriptive title that:
                            
                            </p>
                        
                        <ul>
                        
                            <li>Gives viewers a clear idea of what your video is about</li>
                                <li>Complies with YouTube algorithm to reach the right target audience</li>
                                    <li>Does not violate YouTube’s Community Guidelines</li>
                                
                        </ul>

                        <h2>2.	Enjoy Lots of Video Ideas with Keyword Planners</h2>

                        <p>
                            Appealing and differentiating ideas hold high importance when it comes to tackling the YouTube video algorithm. Therefore, Keyword Planners for YouTube helps you generate unique video ideas, meaning that you can find popular video ideas in an instant with the help of this tool. Browse this <a href="https://studio.youtube.com/channel/UCSYahncrcQKkOPgWbIJITFg/analytics/tab-overview/period-default" class="ext-link" target="_blank">YouTube analytics</a> tool to connect with YouTube video ideas that can do the real work. 

                        </p>

                        <ul>
                        
                            <li>Click on the Search bar</li>
                                <li>Type in any topic/subject that interests you</li>
                                    <li>Hit ‘Enter’</li>
                                
                        </ul>

                        <p>
                            Keyword Planners will present you with hundreds of potential video ideas in a flash, so you can regularly create videos that carry value.
                            </p>
<h2>3.	Maximize your YouTube Views with Keyword Planners </h2>
<p>All those struggling to expand their viewership on YouTube can get more YouTube views without any worry with Keyword Planners.  The <a href="https://tagsyoutube.com/" class="ext-link" target="_blank">YouTube Tag Finder</a> tool introduces you to strategies that help your video get noticed and win more viewers.</p>

                    </div>
                        </div>


                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Keyword Planners helps you Make EASY MONEY on YouTube!
                            Fierce Competition? Expensive Ads? Fight the Barriers and Start Earning Today
                            </h1>
                        <p>
                            The world of online media has taken over the world. Many people are shifting from their 9 to 5 office work routines to easier ways of making money online. YouTube is one such platform that allows people to earn money while being their own boss. The leading video platform has opened doors to marvelous full-time earning opportunities by offering people a way to turning their passion into money. Several individuals have already been engulfed into the world of exciting money-making ways via the <a href="https://www.youtube.com/" class="ext-link" target="_blank">YouTube tool</a>. And many more are on their way to jumping on the bandwagon. 
                        </p>

                        <p class="italic">
                            <span class="font-bold">Fact Check:</span> People are making around $1,000 per half a million views on YouTube. Many are expanding their horizons by tapping into alternative ways to make money from YouTube views.
                            </p>
                        
                        <p>
                            As more and more people join the platform, the competition on this leading video platform has certainly become fiercer than it was in the past. Following this surge in competition, people are utilizing all sorts of strategies to earn money from YouTube.
                        </p>

             

                    </div>
                        </div>

                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center"><a href="blog#mk-money" class="inc-link">How to make MONEY from YouTube?</a></h1>
                        <h2>1.	Run Ads</h2>
                        <p>
                            One of the best ways to monetize your content on YouTube is AdSense. The platform allows you to create great videos and optimize them to make money by running ads on your YouTube account.<br><br>
                            <a href="blog#er-money" class="inc-link">How to earn from YouTube</a> tool using ads:<br><br>
                            If you want to make $1,000 in AdSense money, you will have to garner half a million views. This makes the CPM rate of AdSense around $2 per 1,000 views on YouTube. To maximize your earning capability, you should also understand CPM. It is based on many factors such as:
                            </p>
                            <ul>
                                <li>Country </li>
                                <li>Type of ad </li>
                                <li>The performance of your channel</li>
                            </ul>

                            <p>Following are some suggestions to boost your CPM:</p>

                            <ul>
                                <li>Create video content on popular niches. You can locate the best niches using Keyword Planners’ competitive keywords with high cost-per-click (CPC). </li>
                                <li>Use Keyword Planners to acquire keyword suggestions along with metrics such as search volumes, competition, and CPCs. These metrics can help you formulate a plan to maximize views on your video.</li>
                                <li>Work hard and work smart to remain steadfast and enjoy an excellent passive income in the long term.</li>
                            </ul>

                            <h2>2.	Sell Digital Products </h2>
                            <p>
                                Another great way to make money via YouTube is by selling digital products. The best part is that operations are conducted online; therefore, you don’t have to worry about the stocks, shipping, etc.<br><br>
                                Here is a list of digital-only products that you can consider selling for turning your YouTube views into money:

                            </p>

                            <ul>
                                <li>Mobile Apps</li>
                                <li>E-books</li>
                                <li>Online Tutorials </li>
                                <li>Plugins</li>
                                <li>Presets (for camera, photography, graphics, etc.)</li>
                                <li>Printable</li>
                                <li>Templates </li>
                                <li>Email Courses</li>
                                
                            </ul>

                            <h2>3.	Use Affiliate Marketing</h2>

                            <p>
                                Finally; you can monetize your YouTube channel significantly through affiliate marketing. Affiliate marketing can be described as making money from review-based content. For example, if you have a beauty channel, you can review a recently launched beauty cream and share affiliate links in the description of your video.<br><br>
                                You can improve your chances of earning money with affiliate marketing by:
                                
                                </p>

                                <ul>
                                    <li>Creating <a href="https://www.youtube.com/" class="ext-link" target="_blank">YouTube tool</a> cards to redirect viewers to your website or blog that houses affiliate links</li>
                                    <li>Recommending products with the help of an affiliate link (such as Amazon) to earn a commission every time the product is purchased</li>
                                    </ul>

                    </div>
                        </div>


                        <div class="row">
                            <div class="col right-content">
                        <h1 class="center">Pro Tip of How to Earn Money from YouTube: Diversify Your Income Streams</h1>
                        
                        <p>
                            You can use one of the methods mentioned above to make money from YouTube views easily. However, the best approach to maximizing your earning stream is never to put all your eggs in one basket. This means that instead of investing in one strategy, use all three strategies to make money. Diversifying your income streams and using a mixture of the three strategies is your best bet at monetizing your YouTube channel as a full-time income source.
                        </p>
                            

                    </div>
                        </div>


                    </div>
                </div>
                <!-- Youtube Content Ending -->
                <div class="row show-767">
                    <div class="col right-content">
                        <h1 class="center">Why Keyword Planners</h1>
                    </div>
                </div>
                <div class="row show-767">
                    <div class="col">
                        <div class="borderBox bg-black playIcon">
                            <div class="playIconDv">
                                <a href="#" (click)="openModal()">
                                    <img src="../../../assets/play-icon.png" alt="Play" data-toggle="modal" data-target="#video">
                                </a>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="row show-767">
                    <div class="col right-content">
                        <h1 class="center">How To Use Keyword Planners</h1>
                    </div>
                </div>
                <div class="row show-767">
                    <div class="col">
                        <div class="borderBox bg-black playIcon">
                            <div class="playIconDv">
                                <a href="#" (click)="openHowToModal()">
                                    <img src="../../../assets/play-icon.png" alt="Play" data-toggle="modal" data-target="#video2">
                                </a>
                           </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--right side end-->

        </div>

    </div>
</section>

<div class="modal fade show" id="video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" [ngStyle]="{display: isModelOpen()}"  aria-hidden="true">
    
    <div class="modal-dialog modal-lg" role="document">
        
        <div class="modal-content">
            <div style="text-align: right;line-height: 30px;" (click)="closeModal()">
                <a href="#"><img src="../../../assets/close-icon.png" alt="close modal"></a>
            </div>
            <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RoVatb3t0RI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade show" id="video2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" [ngStyle]="{display: isHowToOpen()}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div style="text-align: right;line-height: 30px;" (click)="closeHowToModal()">
                <a href="#"><img src="../../../assets/close-icon.png" alt="close modal"></a>
            </div>
            <div class="modal-body mb-0 p-0">

                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HSBkQfkx4Q8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>
        </div>
        <!--/.Content-->

    </div>
</div>

