.overlay {
  /* position:fixed;
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(74,74,74,.8);
  z-index:99999;
  opacity: 1; */

  position: fixed;
  text-align: center;
  background: rgba(74,74,74,.8);
  width:100%;
  height:100%;
  color: white;
}
.spinner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  color:white;
  /* padding: 10px; */
  /* background-color: white;  */
}

.ld-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.stage {
  /* border-bottom: 3px solid #444; */
  display: flex;
   height: 60%;
   /* background-color: white; */
  /*width: 100%; */
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* background-color: #F44336; */
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  /* background-color: white; */
  padding: 50px;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-100px); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}