<div class="tab-pane fade show active" id="google-tb" role="tabpanel" aria-labelledby="google-tb-tab">
    <div class="row no-side-spacing">
        <!-- for responsiveness -->
        <div class="col-md-auto col-sm-auto col-pad21">
            <select id="ddlIncludeChartDataComp" placeholder="All" class="lang-dp">
                <option value="0">Data</option>
                <option value="1">Charts</option>
            </select>
        </div>
        <div class="col col-pad21">
            <i class="bi bi-search"></i>
            <input type="search" (keydown)="onEnter($event)" #searchCompField class="header-search" placeholder="Search URL...">
        </div>
        <!-- for responsiveness -->
        <div class="col-md-auto col-sm-auto col-pad21b">
            <i class="bi bi-geo-alt"></i>
            <select name="" #selCompLocations id="selCompLocations" placeholder="Languages" class="lan-rs-dp lang-dp">
                <option *ngFor="let location of compLocationList" value="{{ location.CCLC }}" [selected]="location.Name == 'United States'"> {{ location.CountryLanguage }} </option>
            </select>
        </div>
        <!-- for responsiveness -->
        <div class="col-md-auto col-sm-auto pad0">
            <button class="hdr-search-btn" type="submit" (click)="onClickMe(searchCompField.value, '0', selCompLocations.value, txtNegativeKeywordsComp.value, false)">Search</button>
        </div>
    </div>
</div>
<div class="row no-side-margin">


    <div class="col">


        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col refineSearch-container">
                        <!-- <a data-toggle="collapse" href="#refine-src" role="button" aria-expanded="false" aria-controls="collapseExample" class="collapsed">Refine Search &nbsp; <i class="bi bi-chevron-down"></i> <i class="bi bi-question-circle" title="Filter your grid data."></i></a> -->
                        Refine Search
                        <i class="{{ refineSearchPath }}" style="padding-left: 3px;" (click)="onShowHideSearchPanel($event)"></i>
                        <i class="fa fa-question-circle" style="padding-left: 3px;" title="Filter your grid data."></i>
                    </div>
                </div>

                <div class="row keywordBg" [hidden]="!showSearchSection">
                    <div class="col result-hd-contain3 ">
                        <div class="row">
                            <!-- for responsiveness -->
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="row">
                                    <div class="col border-bottom rs-con-hd">Search Volume Settings</div>
                                </div>
                                <div class="row">
                                    <div class="col md-a10">
                                        <div class="row justify-content-between">
                                            <div class="col-4">Location</div>
                                            <div class="col rs-select-con">
                                                <select id="ddlGoogleLocationsComp" #selLocationsRefSearhCompKey class="form-control">
                                                    <option *ngFor="let searchLoc of compUniqueLocationList" [selected]="searchLoc.Name == 'United States'" [value]="searchLoc.CountryID">{{searchLoc.Name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row justify-content-between">
                                            <div class="col-4">Language</div>
                                            <div class="col rs-select-con">
                                                <select id="ddlGoogleLanguageComp" #selSeachLanguageRefSearchCompKey class="form-control">
                                                    <option *ngFor="let searchLang of compUniqueLanguageList" [selected]="searchLang.Language == 'English'" [value]="searchLang.LanguageID" >{{searchLang.Language}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row justify-content-between">
                                            <div class="col-4">Network</div>
                                            <div class="col rs-select-con">
                                                <select id="ddlGoogleSearchNetworkComp" #selGoolgeSearchNetwork placeholder="Languages" class="form-control">
                                                    <option value="0">Google</option>
                                                    <option value="1">Google Search Partners</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- for responsiveness -->
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="row">
                                    <div class="col border-bottom rs-con-hd">Search Volume Settings</div>
                                </div>
                                <div class="row">
                                    <div class="col md-a10">
                                        <div class="row justify-content-between">
                                            <div class="col-4">Volume</div>
                                            <div class="col rs-input-con ">
                                                <input id="txtGoogleSaerchVolumeMinComp" #searchVolumeMin class="form-control" #searchVolumeMin type="text" placeholder="Min">
                                            </div>
                                            <div class="col rs-input-con ">
                                                <input id="txtGoogleSaerchVolumeMaxComp" #searchVolumeMax class="form-control" #searchVolumeMax type="text" placeholder="Max">
                                            </div>
                                        </div>

                                        <div class="row justify-content-between">
                                            <div class="col-4">CPC</div>
                                            <div class="col rs-input-con ">
                                                <input id="txtGoogleCPCMinComp" #CPCMin class="form-control" #CPCMin type="text" placeholder="Min">
                                            </div>
                                            <div class="col rs-input-con ">
                                                <input id="txtGoogleCPCMaxComp" #CPCMax class="form-control" #CPCMax type="text" placeholder="Max">
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-4">Competition</div>
                                            <div class="col rs-input-con ">
                                                <input id="txtGoogleCompetitionMinComp" #competitionMin class="form-control" #competitionMin type="text" placeholder="Min">
                                            </div>
                                            <div class="col rs-input-con ">
                                                <input id="txtGoogleCompetitionMaxComp" #competitionMax class="form-control" #competitionMax type="text" placeholder="Max">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- for responsiveness -->
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="row">
                                    <div class="col border-bottom rs-con-hd">Negative Keywords</div>
                                </div>
                                <div class="row">
                                    <div class="col md-a10">
                                        <textarea id="txtNegativeKeywordsComp" #txtNegativeKeywordsComp class="form-control" placeholder="Enter comma separated negative keywords"  style="resize: none;height:100px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col right">
                                <button class="rs-go-btn" type="submit" (click)="onClickMe(searchCompField.value, '0', selLocationsRefSearhCompKey.value +'/'+ selSeachLanguageRefSearchCompKey.value, txtNegativeKeywordsComp.value, true)">Go</button>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="row keywordBg">
            <div class="col">

                <div class="row padT10">
                    <!-- for responsiveness -->
                    <div class="col hide5">
                    </div>
                    <!-- for responsiveness -->
                    <div class="col-md-auto col-sm-auto col-auto pad-right-9">
                        <button class="keyword-use-btn" (click)="onCopyClipBoard()">Copy to Clipboard</button>
                    </div>
                    <!-- for responsiveness -->
                    <div class="col-md-auto col-sm-auto col-auto pad-right-9">
                        <button class="keyword-use-btn" (click)="onExportToExcel()">Export</button>
                    </div>
                    <!-- for responsiveness -->
                    <div class="col-md-auto col-sm-auto col-auto pad-right-9">                               
                    </div>
                </div>

                <div class="top-Pad-10">
                    <app-summary-info [GridBarModelInput]="CompGridBarModel" [SearchTerm]="searchParam" [KeyWordDataLength]="compkeywordData.length" [HideSummaryInfo]="false" CanSummaryId="CompetitorAnalysisFinderChart">
                    </app-summary-info>
                </div>

                <div class="top-Pad-10">


                    <div class="row ">

                        <div class="col keywordTabs">
                            <a [ngClass]="{ active: isSet(1) }" (click)="setTab(1)">Keywords ({{ compconfig.totalItems }})</a>
                            <a [ngClass]="{ active: isSet(3) }" (click)="setTab(3)">Questions ({{ compquestionConfig.totalItems }})</a>
                            <a [ngClass]="{ active: isSet(4) }" (click)="setTab(4)">Prepositions ({{ compprepConfig.totalItems }})</a>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col result-hd-contain2" [hidden]="!isSet(1)">

                            <table mdbTable>
                                <thead>
                                    <tr>
                                        <th class="tableGreen-border" [mdbTableSort]="compkeywordData" sortBy="KeywordText">
                                            Keywords <i class='fa fa-sort'></i><i class="fa fa-question-circle" style="padding-left: 3px;" title="Keywords are pulled from the Google autocomplete. Keywords are generated by placing different search
                                    terms into the search box of Google."></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compkeywordData" sortBy="SearchVolume">
                                            Search Volume <i class='fa fa-sort'></i><i class="fa fa-question-circle" style="padding-left: 3px;" title="Search Volume is the average number of times people search for this exact keyword per month. It
                                    helps you understand how popular the keyword is."></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compkeywordData" sortBy="Ternd">
                                            Trend <i class='fa fa-sort'></i><i class="fa fa-question-circle" style="padding-left: 3px;" title="Trend shows how the monthly search volume for a keyword has changed over the last 12 months."></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compkeywordData" sortBy="AverageCPC">
                                            CPC <i class='fa fa-sort'></i><i class="fa fa-question-circle" style="padding-left: 3px;" title="Cost-Per-Click (CPC) is estimated sum of money that advertisers are paying to bid on this keyword on Google
                                    Ads. It helps to identify how lucrative the keyword is."></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compkeywordData" sortBy="Competition">
                                            Competition <i class='fa fa-sort'></i><i class="fa fa-question-circle" style="padding-left: 3px;" title="Competition is the number of advertisers bidding on each keyword, relative to all keywords across
                                    Google. It helps you understand how competitive the keyword is."></i>
                                        </th>
                                        <!-- <th>
                                            <i class="fa fa-question-circle" style="padding-left: 3px;" title="Select keyword to create Google Ads."></i>
                                        </th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-template ngFor let-keyword [ngForOf]="compkeywordData | paginate: compconfig" let-i="index">
                                        <tr class="result-row" (click)="showHideGraph(keyword.ID)">
                                            <td>
                                                {{ keyword.KeywordText }}
                                                <!-- <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" (change)="showHideGraph(keyword.ID)">
                                                    <label class="form-check-label" for="WebHosting"> {{ keyword.KeywordText }} </label>
                                                </div> -->
                                            </td>
                                            <td>{{ keyword.SearchVolume | number:'.' }}</td>
                                            <td class="" [innerHTML]="getTrendArrow(keyword.Ternd) | safeHtml"></td>
                                            <td>$ {{ keyword.AverageCPC | padzero:2}}</td>
                                            <td class="">{{ keyword.Competition | number:'1.1-2' }} ({{ keyword.CompetitionLabel | titlecase }})</td>
                                            <!-- <td><button type="submit" class="btn-pick" (click)="onPickKeyword($event)" title="pick this keyword to create Ad">Pick</button></td> -->
                                        </tr>
                                        <tr [attr.id]=" 'trGraph' + keyword.ID" [style.display]=" 'none'">
                                            <td colspan="7">
                                                <div class="div-chart-info" [attr.id]=" 'divInfo' + keyword.ID"></div>
                                                <canvas [attr.id]=" 'canvas' + keyword.ID"></canvas>
                                            </td>
                                        </tr>
                                    </ng-template>

                                </tbody>
                            </table>

                            <pagination-controls id="compkeywordPaginationControl" (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                        <div class="col result-hd-contain2" [hidden]="!isSet(3)">
                            <table mdbTable>
                                <thead>
                                    <tr>
                                        <th class="tableGreen-border" [mdbTableSort]="compquestionsData" sortBy="KeywordText">
                                            Keywords <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compquestionsData" sortBy="SearchVolume">
                                            Search Volume <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compquestionsData" sortBy="Ternd">
                                            Trend <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compquestionsData" sortBy="AverageCPC">
                                            CPC <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compquestionsData" sortBy="Competition">
                                            Competition <i class='fa fa-sort'></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="result-row" *ngFor="let keyword of compquestionsData | paginate: compquestionConfig">
                                        <td>
                                            {{ keyword.KeywordText }}
                                            <!-- <div class="form-check">
                                                <label class="form-check-label" for="WebHosting">{{ keyword.KeywordText }}</label>
                                            </div> -->
                                        </td>
                                        <td>{{ keyword.SearchVolume | number:'.' }}</td>
                                        <td class="" [innerHTML]="getTrendArrow(keyword.Ternd) | safeHtml"></td>
                                        <td>$ {{ keyword.AverageCPC | padzero:2}}</td>
                                        <td class="">{{ keyword.Competition | number:'1.1-2' }} ({{ keyword.CompetitionLabel | titlecase }})</td>
                                    </tr>
                                </tbody>
                            </table>

                            <pagination-controls id="compquestionsPaginationControl" (pageChange)="pageQuestionsChanged($event)"></pagination-controls>
                        </div>
                        <div class="col result-hd-contain2" [hidden]="!isSet(4)">
                            <table mdbTable>
                                <thead>
                                    <tr>
                                        <th class="tableGreen-border" [mdbTableSort]="compprepData" sortBy="KeywordText">
                                            Keywords <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compprepData" sortBy="SearchVolume">
                                            Search Volume <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compprepData" sortBy="Ternd">
                                            Trend <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compprepData" sortBy="AverageCPC">
                                            CPC <i class='fa fa-sort'></i>
                                        </th>
                                        <th class="tableGreen-border" [mdbTableSort]="compprepData" sortBy="Competition">
                                            Competition <i class='fa fa-sort'></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="result-row" *ngFor="let keyword of compprepData | paginate: compprepConfig">
                                        <td>
                                            {{ keyword.KeywordText }}
                                            <!-- <div class="form-check">
                                                <label class="form-check-label" for="WebHosting">{{ keyword.KeywordText }}</label>
                                            </div> -->
                                        </td>
                                        <td>{{ keyword.SearchVolume | number:'.' }}</td>
                                        <td class="" [innerHTML]="getTrendArrow(keyword.Ternd) | safeHtml"></td>
                                        <td>$ {{ keyword.AverageCPC | padzero:2}}</td>
                                        <td class="">{{ keyword.Competition | number:'1.1-2' }} ({{ keyword.CompetitionLabel | titlecase }})</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls id="compprepPaginationControl" (pageChange)="pagePrepChanged($event)"></pagination-controls>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>